* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
}


/*홈페이지 버전*/
@media (min-width:1201px) {

  /*wrap*/
  .wrap {
    width: 100vw;
  }

  /*nav*/
  #nav {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    line-height: 6vh;
    background-color: white;
    box-shadow: 1px 1px 15px 0px #9999997a;
    align-items: flex-start;
  }

  #nav.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  #nav ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Haettenschweiler', sans-serif;
    padding-top: 0.5%;
  }

  #nav .logo {
    width: 1.7vw;
  }

  #nav img {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
  }

  #nav ul li {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  #nav ul li a::after {
    position: absolute;
    content: "";
    display: block;
    border-bottom: 3px solid rgb(209, 0, 0);
    transition: all 250ms ease-out;
    left: 50%;
    width: 0;
  }

  #nav ul li a:hover::after {
    transition: all 250ms ease-out;
    left: 0%;
    width: 100%;
  }


  /*con1 스토리박스*/
  .con1 {
    width: 100%;
    height: 150vh;
    background-color: black;
    color: white;
    position: relative;
  }

  .con1 .story-box {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 10%;
  }

  .story-box h1 {
    font-size: 150px;
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: lighter;
  }

  .story-box .fitz-0 {
    font-size: 25px;
    padding-top: 5%;
  }

  .story-box h2 {
    font-size: 45px;
    font-weight: normal;
    padding-top: 3%;
    letter-spacing: -3px;
  }

  .story-box .fitz-1 {
    padding: 5%;
    font-size: 20px;
  }

  .story-box .fitz-2 {
    color: gray;
    line-height: 23px;
    padding-bottom: 3%;
  }

  .story-box .fitz-3 {
    color: gray;
    line-height: 23px;
    padding-bottom: 15%;
  }


  /*con1의 pic1 오른쪽 왼쪽 이어폰 맞춤*/
  .story-box .pic1 {
    width: 35vw;
    height: 45vh;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    padding-right: 10%;
  }

  .pic1 .pic1-2 {
    position: absolute;
    bottom: 0%;
  }

  .pic1 .pic2-2 {
    position: absolute;
    bottom: 0%;
  }


  /*con2 스토리박스-이미지*/
  .con2 {
    width: 100%;
    height: 65vh;
    background-color: black;
    color: white;
    padding-top: 10%;
  }

  .con2 .pic2 {
    width: 35vw;
  }

  .con2 .con2-1 {
    width: 23vw;
    height: 45vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 10%;
  }

  .con2-1 .pic2-1 {
    transform: rotate(7deg);
  }

  .con2-1 .pic2-2 {
    position: absolute;
    right: 0%;
    bottom: 0%;
  }

  /*con2 스토리박스-텍스트*/
  .con2 .con2-2 {
    width: 25vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    text-align: center;
  }

  .con2 .con2-2>h3 {
    font-size: 55px;
    padding-bottom: 10%;
    font-weight: normal;
  }

  .con2 .con2-2>p {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
  }

  /*con3 스토리박스*/
  .con3 {
    width: 100%;
    height: 65vh;
    background-color: black;
    color: white;
    padding-top: 5%;
  }

  .con3 .con3-1 {
    width: 70vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
  }

  .con3-1 .con3-1-text {
    text-align: center;
    padding-top: 4%;
  }

  .con3-1-text>h2 {
    font-size: 55px;
    padding-bottom: 10%;
    font-weight: normal;
    padding-top: 5%;
  }

  .con3-1-text>p {
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 10%;
  }

  .con3-1 .con3_img {
    margin-top: 5%;
  }


  /*con3 button*/
  .con3-1-text button {
    width: 240px;
    height: 75px;
    border-radius: 70px;
    color: black;
    background-color: white;
    margin-left: 3%;
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
  }

  .buttons .moreviewpatent {
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .buttons .moreviewpatent:hover {
    background-color: #222;
    color: white;
    transition: all 0.5s;
    border: 1px solid white;
  }

  /*footer*/

  footer {
    width: 100%;
    height: 40vh;
    background-color: #222;
    position: relative;
  }

  footer .foo-box {
    width: 80%;
    display: flex;
    position: absolute;
    top: 1%;
    left: 50%;
    justify-content: space-around;
    padding-top: 2%;
    transform: translateX(-50%);
  }

  footer .foo {
    width: 13%;
    height: 40%;
    color: #fff;
  }

  footer .foo>h4 {
    margin-bottom: 10%;
    font-family: 'Haettenschweiler', sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 22px;
    text-align: left;
  }

  footer .foo li {
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    font-family: 'Haettenschweiler', sans-serif;
  }

  footer .sns {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  footer .end {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: grey;
    font-size: 13px;
  }

  footer .go_top {
    width: 3%;
    position: absolute;
    top: -18%;
    right: 3%;
    cursor: pointer;
  }

}

/*태블릿버전*/
@media(min-width:481px) and (max-width:1200px) {

  /*wrap*/
  .wrap {
    width: 100vw;
  }

  /*nav*/
  #nav {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 6vh;
    background-color: white;
    box-shadow: 1px 1px 15px 0px #9999997a;
  }

  #nav.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  #nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: normal;
    font-size: 2vw;
    line-height: 2vw;
    font-family: 'Haettenschweiler', sans-serif;
  }

  #nav .logo {
    width: 3vw;
    padding-top: 60%;
  }

  #nav img {
    width: fit-content;
    height: fit-content;
    padding-top: 6px;
  }

  #nav ul li {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
  }

  #nav ul li a::after {
    position: absolute;
    content: "";
    display: block;
    border-bottom: 3px solid rgb(209, 0, 0);
    transition: all 250ms ease-out;
    left: 50%;
    width: 0;
  }

  #nav ul li a:hover::after {
    transition: all 250ms ease-out;
    left: 0%;
    width: 100%;
  }

  /*con1 스토리박스*/
  .con1 {
    width: 100%;
    height: 150vh;
    background-color: black;
    color: white;
    position: relative;
  }

  .con1 .story-box {
    width: 75%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
  }

  .story-box h1 {
    font-size: 17vw;
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: lighter;
  }

  .story-box .fitz-0 {
    font-size: 3vh;
    padding-top: 5%;
  }

  .story-box h2 {
    font-size: 5vh;
    font-weight: normal;
    padding-top: 5%;
    letter-spacing: -0.5vw;
  }

  .story-box .fitz-1 {
    padding: 6%;
    font-size: 3vh;
  }

  .story-box .fitz-2 {
    color: gray;
    font-size: 2vh;
    line-height: 3vh;
    padding-bottom: 3%;
  }

  .story-box .fitz-3 {
    color: gray;
    font-size: 2vh;
    line-height: 3vh;
    padding-bottom: 20%;
  }


  /*con1의 pic1 오른쪽 왼쪽 이어폰 맞춤*/
  .story-box .pic1 {
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .pic1 .pic1-1 {
    width: 35%;
    position: absolute;
    left: 9%;
    top: 4%;
  }

  .pic1 .pic1-2 {
    width: 35%;
    position: absolute;
    right: 9%;
    bottom: 4%;
  }

  /*con2 스토리박스-이미지*/
  .con2 {
    width: 100%;
    height: 65vh;
    background-color: black;
    color: white;
    padding-top: 20%;
  }

  .con2 .pic2 {
    width: 70vw;
    height: 45vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .con2 .con2-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 10%;
  }

  .con2-1 .pic2-1 {
    transform: rotate(7deg);
  }

  .con2-1 .pic2-2 {
    position: absolute;
    right: -5%;
    bottom: -5%;
  }

  /*con2 스토리박스-텍스트*/
  .con2 .con2-2 {
    width: 90vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    text-align: center;
  }

  .con2 .con2-2>h3 {
    font-size: 7vw;
    padding-bottom: 5%;
    font-weight: normal;
    margin-left: 7%;
    margin-top: 10%;
  }

  .con2 .con2-2>p {
    font-size: 2.3vw;
    line-height: 4vh;
    letter-spacing: 0.3vw;
  }

  /*con3 스토리박스*/
  .con3 {
    width: 100%;
    height: 65vh;
    background-color: black;
    color: white;
    padding-top: 10%;
  }

  .con3 .con3-1 {
    width: 80vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
  }

  .con3-1 .con3-1-text {
    text-align: center;
    padding-top: 4%;
  }

  .con3-1-text>h2 {
    font-size: 4vw;
    padding-bottom: 10%;
    font-weight: normal;
    padding-top: 5%;
  }

  .con3-1-text>p {
    font-size: 1.8vw;
    line-height: 4vh;
    padding-bottom: 15%;
  }

  .con3-1 .con3_img {
    margin-top: 15%;
  }

  /*con3 button*/
  .con3-1-text button {
    width: 200px;
    height: 65px;
    border-radius: 70px;
    color: black;
    background-color: white;
    margin-left: 3%;
    font-size: 2.5vw;
    line-height: 2.5vh;
    cursor: pointer;
  }

  .buttons .moreviewpatent {
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .buttons .moreviewpatent:hover {
    background-color: #222;
    color: white;
    transition: all 0.5s;
    border: 1px solid white;
  }

  /*footer*/
  footer {
    width: 100%;
    height: 40vh;
    background-color: #222;
    position: relative;
    margin-top: 0%;
  }

  footer .foo-box {
    width: 90vw;
    display: flex;
    position: absolute;
    top: 1%;
    left: 50%;
    justify-content: space-around;
    padding-top: 2%;
    transform: translateX(-50%);
  }

  footer .foo {
    width: 18%;
    height: 40%;
    color: white;
  }

  footer .foo>h4 {
    margin-bottom: 10%;
    font-family: 'Haettenschweiler', sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 2.2vw;
    text-align: left;
  }

  footer .foo li {
    font-size: 1.2vw;
    text-align: left;
    line-height: 2.5vw;
    font-family: 'Haettenschweiler', sans-serif;
  }

  footer .sns {
    width: 1vw;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  footer .end {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: grey;
    font-size: 1.5vw;
  }

  footer .go_top {
    width: 3%;
    position: absolute;
    top: 5%;
    right: 3%;
    cursor: pointer;
  }

}