* {
  box-sizing: border-box;
}

:root {
  --purp: #6969ff;
  --black: #333;
  --white-smoke: #faf9f6;
  --gray: #acacac;
  --content-left: clamp(2rem, 18vw, 320px);
  --nav-gap: 100px;
}

html {
  height: 100%;
}

body {
  color: var(--black);
  background-color: var(--white-smoke);
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

a:active,
a:hover {
  outline: 0;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

figure {
  margin: 0 0 10px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}